@font-face {
  font-family: 'iconfont';  /* project id 1076628 */
  src: url('//at.alicdn.com/t/font_1076628_oc0az6a4w3.eot');
  src: url('//at.alicdn.com/t/font_1076628_oc0az6a4w3.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1076628_oc0az6a4w3.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1076628_oc0az6a4w3.woff') format('woff'),
  url('//at.alicdn.com/t/font_1076628_oc0az6a4w3.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1076628_oc0az6a4w3.svg#niceicon') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niceback:before {
  content: "\e611";
}

.niceshijian:before {
  content: "\e600";
}

.nicemvbofang:before {
  content: "\e79b";
}

.niceiconset0143:before {
  content: "\e62a";
}

.nicexihuan-copy:before {
  content: "\e606";
}

.nicegengduo1:before {
  content: "\e60d";
}

.nicesearch:before {
  content: "\edbf";
}

.nicebofang2:before {
  content: "\e612";
}

.nicechangpian:before {
  content: "\e615";
}

.nicejingyin:before {
  content: "\e616";
}

.niceliebiaoxunhuan:before {
  content: "\e617";
}

.niceshanchu:before {
  content: "\e618";
}

.niceshengyin:before {
  content: "\e61a";
}

.niceshezhi:before {
  content: "\e622";
}

.niceshuaxin1:before {
  content: "\e623";
}

.nicepinghengqi:before {
  content: "\e628";
}

.niceyizhuce:before {
  content: "\e6e6";
}

.nicegeshou:before {
  content: "\e619";
}

.niceshunxubofangwenzhang:before {
  content: "\e61b";
}

.nicedanquxunhuan:before {
  content: "\e61e";
}

.nicewenhao:before {
  content: "\e60c";
}

.nicePCbofangye_paihangbang:before {
  content: "\e642";
}

.niceshipin:before {
  content: "\e60e";
}

.nicepaihangbang:before {
  content: "\e6ae";
}

.niceshuaxin:before {
  content: "\e60b";
}

.niceicon-2:before {
  content: "\e643";
}

.niceicon-5:before {
  content: "\e647";
}

.niceicon-6:before {
  content: "\e648";
}

.niceicon-7:before {
  content: "\e649";
}

.niceicon-3:before {
  content: "\e646";
}

.niceicon-:before {
  content: "\e644";
}

.niceicon-1:before {
  content: "\e645";
}

.niceicon-14:before {
  content: "\e652";
}

.niceicon-15:before {
  content: "\e653";
}

.niceicon-16:before {
  content: "\e654";
}

.niceicon-17:before {
  content: "\e655";
}

.niceicon-18:before {
  content: "\e657";
}

.niceicon-19:before {
  content: "\e658";
}

.niceicon-20:before {
  content: "\e659";
}

.niceicon-8:before {
  content: "\e64c";
}

.niceicon-4:before {
  content: "\e64b";
}

.niceicon-9:before {
  content: "\e64d";
}

.niceicon-10:before {
  content: "\e64f";
}

.niceyinleliebiao:before {
  content: "\e6e4";
}

.nicepengyou:before {
  content: "\e604";
}

.nicepaihangbang1:before {
  content: "\e782";
}

.nicedianzan11:before {
  content: "\e601";
}

.nicegengduo2:before {
  content: "\e640";
}

.nicebofang1:before {
  content: "\e784";
}

.nicesearch1:before {
  content: "\e737";
}

.nicebofang:before {
  content: "\e679";
}

.nicepaihangbang2:before {
  content: "\e629";
}

.nicepaihangbang3:before {
  content: "\e634";
}

.nicegengduo:before {
  content: "\e605";
}

.nicexianxing_diantai:before {
  content: "\e61c";
}

.nicereload:before {
  content: "\e788";
}

.nicemessage:before {
  content: "\e78a";
}

.niceuser:before {
  content: "\e7ae";
}

.nicelike:before {
  content: "\e7c8";
}

.niceshipin1:before {
  content: "\e656";
}

.nicemv24:before {
  content: "\e6a2";
}

.niceshare:before {
  content: "\e610";
}

.niceshoucang:before {
  content: "\e608";
}

.niceiconfontyoujiantou-copy-copy-copy-copy:before {
  content: "\e60f";
}

.niceyanlun:before {
  content: "\e635";
}

.niceshipin2:before {
  content: "\e60a";
}

.niceziyuanldpi:before {
  content: "\e61d";
}

.nicezan1:before {
  content: "\e602";
}

.nicestatus3:before {
  content: "\e603";
}

.niceyinleliebiao1:before {
  content: "\e624";
}

.nicerili:before {
  content: "\e685";
}

.niceSound-wave:before {
  content: "\e625";
}

.niceSound-wave1:before {
  content: "\ea12";
}

.niceCompact-Disc:before {
  content: "\ea56";
}

.niceshoucang1:before {
  content: "\e609";
}

.nicePage:before {
  content: "\e614";
}

.nicecaidan:before {
  content: "\e7b9";
}

.nicesuijibofang:before {
  content: "\e613";
}

.nicexihuan1:before {
  content: "\e607";
}

.nicecollection:before {
  content: "\e69e";
}

.nicehistory:before {
  content: "\e69b";
}

.nicerestore:before {
  content: "\e69f";
}

.nicevoice:before {
  content: "\e6a4";
}

.nicefenxiang:before {
  content: "\e626";
}

.nicedongtaibofangqi:before {
  content: "\e64e";
}

.niceicon_bofangliang:before {
  content: "\e62c";
}